@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.navbar {
  height: 80px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.menu a {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}

.filter-option {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 16px;
  padding: 0 12px;
}

